body{
	background-color: rgba(68, 68, 68, .05);
	background-size: 100% 100%;
}
form#cadastro{
	display:flex;
	position:relative;
	align-self: center;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	width:550px;
	align-items: center;
	padding:5px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius:10px;
	background-color:#f9f9f9;
}

input{
	background-color:transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid rgba(0,0,0,.5);
	margin-bottom:15px;
	padding:10px;
	color:rgba(0,0,0,.9);
	width:280px;

}

div#divisao{
	border-bottom:1px solid rgba(0,0,0,.7);
	width:350px;
	padding:5px;
	margin-bottom: 20px;
	font-size:22px;
	color:rgba(0,0,0,.9);
}
::-webkit-input-placeholder {
   color: white;
}

button{
	background-color:#2196F3;
	padding:20px;
	color:white;
	cursor:pointer;
	border:none;
	width:200px;
}
button:hover{
	background-color:black;
}

div#titulo_divisao{
	border-bottom:1px solid rgba(0,0,0,.3);
	width:250px;
	padding:10px;
	margin-bottom: 20px;
	text-align:center;
	font-size:25px;
	color:rgba(0,0,0,.9);
}

form#cadastro select{
	margin-bottom:20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
  }