ul#cursos{
	display:flex;
	
	list-style-type: none;
	flex-direction: column;
	padding:20px;
	color:white;
	width:auto;
	background-color:rgba(0,0,0,.8);
}
li{
	color: white;
	align-self: center;
	font-size:25px;
	margin-bottom:10px;
}