form#login{
	display:flex;
	justify-content: center;
	flex-direction: column;
	position:relative;
	width:300px;
	align-items: center;
	margin-left:35%;
	padding:10px;
	border-radius:10px;
	background-color:rgba(0,0,0,.8);
}

input{
	background-color:transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid #2268b2;
	margin-bottom:15px;
	padding:10px;
	height:40px;
	color:white;
	height:40px;
}
input[type="submit"]{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #2268b2;
	color:white;
	font-size:18px;
	height:auto;
	cursor:pointer;
}
input[type="submit"]:hover{
	background-color:black;
}
::-webkit-input-placeholder {
   color: white;
}

div#divisao{
	border-bottom:1px solid rgba(0,0,0,.1);
	width:400px;
	padding:10px;
	margin-bottom: 20px;
}

div#titulo_divisao{
	border-bottom:1px solid rgba(0,0,0,.3);
	width:250px;
	padding:10px;
	margin-bottom: 20px;
	text-align:center;
	font-size:25px;
	color:white;
}

div#divisao_login{
	border-bottom:1px solid rgba(0,0,0,.3);
	width:250px;
	padding:10px;
	margin-bottom: 20px;	
}