div#tabela{
    display:flex;
    justify-content: center;
    width:100%;
    margin-top:10px;
    margin-bottom:50px;
}
table{
    width:700px;
    background-color:rgba(0,0,0,.5);
    padding:20px;
}
tr,td,th{
    text-align:center;
}
td{
    color:white;
    margin-top:20px;
    padding:30px;
    text-transform: capitalize;
}
th{
    font-size:20px;
    color:white;
    border-bottom:1px solid #3498db;
    margin-bottom:5px;
    padding:10px;
    font-weight: bold;
}
a#blue{
    color:#3498db;
}
a#green{
    color:lightgreen;
}
a#red{
    color:crimson;
}