body{
	margin:0px;
	background-color: #f9f9f9;
	display:flex;
	flex-direction: column;
	font-family: 'Text Me One', sans-serif;
}
header{
	position:relative;
	display:block;
	flex-direction: column;
	width:100%;
	height:auto;
	margin-bottom:10px;
	background-color:white;
}
#topo{
	display:inline-block;
	padding:10px;
	margin:2px;
}
#topo img{
	left: 0;
	margin-left:20px;
}
#topo p#uespi{
	font-size:30px;
}
#titulo{
	flex-direction: column;
	background-color:#2196F3;
	padding-top:10px;
	padding-bottom:10px;
	height:150px;
}
#titulo p#setor{
	color:white;
	font-size:25px;
	align-self: flex-start;
	margin-left:20px;
	text-align: left;
	font-weight: bold;

}
#convenio_estagio{
	display:flex;
	
	align-items: center;
}

#titulo p#convenio_estagio{
	color:white;
	font-size:17px;
	align-self: flex-start;
	margin-left:20px;
	text-align: left;
	font-weight: bold;
}



div#menu_left{
	display:flex;
	flex-direction: column;
	align-self:flex-end;
}

div#menu_left a{
	width:200px;
	height:50px;
	color:white;
	text-decoration:none;
	padding:5px;
	background-color:#2196F3;
	position:relative;
	text-align:center;
	margin-top:5px;
}

div#menu_left img{
	margin-right:10px;
}