body{
	margin:0px;
}
header{
	position:relative;
	display:block;
	flex-direction: column;
	width:100%;
	height:300px;
	margin-bottom:10px;
}
#topo{
	display:inline-block;
	padding:10px;
	margin:2px;
}
#topo img{
	left: 0;
	margin-left:20px;
}
#topo p#uespi{
	font-size:30px;
}
#titulo{
	flex-direction: column;
	background-color:#2268b2;
	padding-top:20px;
	padding-bottom:20px;
	height:120px;
}
#titulo p#setor{
	color:white;
	font-size:25px;
	align-self: flex-start;
	margin-left:20px;
	text-align: left;
	font-weight: bold;

}
#titulo p#convenio_estagio{
	color:white;
	font-size:17px;
	align-self: flex-start;
	margin-left:20px;
	text-align: left;
	font-weight: bold;
}